---
import { SITE } from "~/config.mjs";
import Layout from "~/layouts/PageLayout.astro";
import Cta from "~/components/Cta.astro";
import Hero from "~/components/widgets/Hero.astro";
import Note from "~/components/widgets/Note.astro";
import Features from "~/components/widgets/Features.astro";
import Features2 from "~/components/widgets/Features2.astro";
import Steps from "~/components/widgets/Steps.astro";
import Content from "~/components/widgets/Content.astro";
import LatestPosts from "~/components/blog/LatestPosts.astro";
import FAQs from "~/components/widgets/FAQs.astro";
import Stats from "~/components/widgets/Stats.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";
import { Picture } from "@astrojs/image/components";
import Accordion from "~/components/accordionComponent";

const meta = {
  title: "Learn more",
  description: "In this short video we will explain you our Secret model.",
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <div
    class="flex p-8 md:py-40 justify-center flex-col items-center w-full mx-auto max-w-4xl"
  >
    <h1
      class="text-back text-5xl md:text-7xl font-bold leading-tighter tracking-tighter mb-4 font-heading"
    >
      New Product's Soon.
    </h1>
    <p class="text-center">
      We're excited to share that 3 new products are on the way! Get ready for
      improved, faster, and smarter options arriving in
    </p>
    <div
      class="w-full md:max-w-max flex flex-col md:flex-row gap-y-4 gap-x-4 my-8"
    >
      <p
        class="border w-full text-center md:max-w-max bg-primary text-white rounded-xl p-4 text-2xl bold"
        id="days"
      >
      </p>
      <p
        class="border w-full text-center md:max-w-max bg-primary text-white rounded-xl p-4 text-2xl bold"
        id="hours"
      >
      </p>
      <p
        class="border w-full text-center md:max-w-max bg-primary text-white rounded-xl p-4 text-2xl bold"
        id="minutes"
      >
      </p>
      <p
        class="border w-full text-center md:max-w-max bg-primary text-white rounded-xl p-4 text-2xl bold"
        id="seconds"
      >
      </p>
    </div>
    <script>
      var countDownDate = new Date("Dec 1, 2023 00:00:00").getTime();

      var countdownFunction = setInterval(function () {
        var now = new Date().getTime();
        var distance = countDownDate - now;

        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor(
          (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
        );
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        document.getElementById("days").innerHTML = `${days} d`;
        document.getElementById("hours").innerHTML = `${hours} h`;
        document.getElementById("minutes").innerHTML = `${minutes} min`;
        document.getElementById("seconds").innerHTML = `${seconds} sec`;

        if (distance < 0) {
          clearInterval(countdownFunction);
          document.getElementById("days").innerHTML = "";
          document.getElementById("hours").innerHTML = "";
          document.getElementById("minutes").innerHTML = "";
          document.getElementById("seconds").innerHTML = "EXPIRED";
        }
      }, 1000);
    </script>
  </div>
</Layout>
